@import "tailwindcss";




:root {
  --primary-color: #62ABE0; /* base blue */
  
  /* Tints (lighter versions of primary-color) */
  --primary-100: #e9f3fa;  /* very light tint */
  --primary-200: #B3D9F0;  /* soft blue tint */
  --primary-300: #8FC7EA;  /* medium-light blue */
  --primary-400: #74B7E4;  /* slightly darker blue tint */
  --primary-500: #1E6699;  /* main dark shade */

  /* Optional: Additional shades for hover/focus states */
  --primary-600: #195880;
  --primary-700: #144A66;
  --primary-800: #0F3B4D;
  --primary-900: #0A2D33;

  --primary-vertical-gradient: linear-gradient(
  180deg,
  #00449F 0%,
  #003070 50%,
  #001839 100%
);

  /* Translucent version of the primary color */
   /* ~40% opacity */


  --secondary-color: #6C757D; 
  --secondary-100: #F1F3F5;
  --secondary-200: #D7DBDF;
  --secondary-300: #ADB5BD;
  --secondary-400: #868E96;
 

  /* New unified styles based on primary */
  --background-light: linear-gradient(
    135deg,
    var(--primary-100) 0%,
    var(--primary-200) 30%,
    var(--primary-100) 60%,
    var(--primary-300) 100%
  );

  --text-dark: #0A2D33;  /* dark blue-gray */
  --text-muted: #6C757D;  /* muted blue-gray for subtext */
  
  --card-bg: #ffffff;
  --card-Trans: #E6F2FA80; /* transparent version of --primary-100 */

  --border-color: var(--primary-200);  /* light border */
  --accent-color: var(--primary-500);  /* blue accent for CTAs, icons, etc. */

  --background: var(--primary-100);  /* page background */
  --foreground: #111111;  /* still deep gray/black for max readability */
}

body {
  font-family: var(--font-nunito), sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-dark);
  line-height: 1.2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-text: var(--text-dark);
  --color-text-muted: var(--text-muted);
  --color-card-bg: var(--card-bg);
  --color-card-trans: var(--card-Trans);
  --color-border: var(--border-color);

  --color-header: var(--header-color);
  
  /* Primary Colors */
   --color-primary: var(--primary-color);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-gradient: var(--primary-vertical-gradient);


  /* Secondary Colors */
  --color-secondary: var(--secondary-color);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-color);
  --color-accent: var(--accent-color);
 
}

@media (prefers-color-scheme: dark) {
:root {
    --primary-color: #62ABE0; /* base blue */
  
  /* Tints (lighter versions of primary-color) */
  --primary-100: #E6F2FA;  /* very light tint */
  --primary-200: #B3D9F0;  /* soft blue tint */
  --primary-300: #8FC7EA;  /* medium-light blue */
  --primary-400: #74B7E4;  /* slightly darker blue tint */
  --primary-500: #1E6699;  /* main dark shade */

  /* Optional: Additional shades for hover/focus states */
  --primary-600: #195880;
  --primary-700: #144A66;
  --primary-800: #0F3B4D;
  --primary-900: #0A2D33;
    --primary-vertical-gradient: linear-gradient(
  180deg,
  #00449F 0%,
  #003070 50%,
  #001839 100%
);

  --secondary-color: #6C757D; 
  --secondary-100: #F1F3F5;
  --secondary-200: #D7DBDF;
  --secondary-300: #ADB5BD;
  --secondary-400: #868E96;

  /* New unified styles based on primary */
  --background-light: linear-gradient(
    135deg,
    var(--primary-100) 0%,
    var(--primary-200) 30%,
    var(--primary-100) 60%,
    var(--primary-300) 100%
  );

  --text-dark: #0A2D33;  /* dark blue-gray */
  --text-muted: #6C757D;  /* muted blue-gray for subtext */
  
  --card-bg: #ffffff;
  --card-Trans: #E6F2FA80; /* transparent version of --primary-100 */

  --border-color: var(--primary-200);  /* light border */
  --accent-color: var(--primary-500);  /* blue accent for CTAs, icons, etc. */

  --background: var(--primary-100);  /* page background */
  --foreground: #111111;  /* still deep gray/black for max readability */
}

  }



h1, h2 {
  
  line-height: 1.2;
}

h1 {
  font-size: 68px; /* scales between 2rem and 3rem */
}
@media (max-width: 640px) {
  h1 {
    font-size: 60px;
  }
}
h2 {
  font-size: 52px;
}

h3 {
  font-size: 40px;
}

p {
  font-size: 24px /* scales from 1rem to 1.125rem */
}
span{
  font-size: 18px;
}

 .links{
  color: var(--text-muted);
  text-decoration: none;
  padding: 5px 0 ;
  border-bottom: solid 2px transparent;
 }
  .links:hover {
    color: var(--primary-color);
    border-bottom: solid 2px var(--primary-color);
  }

   .footerLinks{
  color: white;
  text-decoration: none;
 }
  .footerLinks:hover{
    text-decoration: underline;
  }


.button,
.inverseButton {
  font-size: clamp(0.875rem, 1.5vw, 1rem);
  font-weight: 500;
}



.button {
  background-color: var(--primary-500);
  color: #fff;
  padding: 0.75rem 1.5rem;
  
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--primary-400);
  
}

.inverseButton {
  
  color: var(--primary-500);
  padding: 0.75rem 1.5rem;
  border: solid 1px var(--primary-500);
  border-radius: 2rem;
  cursor: pointer;
 
  transition: background-color 0.3s ease;
}

.inverseButton:hover {
  background-color: var(--primary-400);
  color: #fff;
}


.IconButton {
  background-color: var(--primary-100);
  color: var(--primary-color);
  padding: 0.75rem ;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.IconButton:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.callToActionButton {
  background-color: #ffffff;
  color: var(--primary-color);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.callToActionButton:hover {
  background-color: var(--accent-color);
  color:  #ffffff;
}

.card {
  background-color: var(--card-bg);
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.card2 {
  background-color: var(--card-bg);
  padding: 5rem 2rem;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.modalCard {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

}
.modalCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card h3 {
  color: var(--text-dark);
  font-size: 1.25rem;
  font-weight: 600;
}

.card p {
  margin-top: 0.5rem;
  color: var(--text-muted);
}

.flatCard{
  max-width: 1000px;
  
}

.containerDiv{
  padding: 2rem 5rem;
  min-height: 50vh;
  width: 100%;
  max-width: 1400px;
  
}

@media (max-width: 768px) {
  .containerDiv {
    padding: 2rem;
  }
}

.bg_themed_color{
  background-image: var(--background-light);;
}

.inner_Padding{
  padding: 5rem 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


::-webkit-scrollbar {
  height: 8px;       /* for horizontal scrollbar */
  width: 8px;        /* for vertical scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-400);  /* Customize to match your theme */
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color:var(--secondary-400);
}

/* Firefox */
* {
  scrollbar-width: thin;              /* auto | thin | none */
  scrollbar-color: var(--secondary-400) #f0f0f0;   /* thumb color + track color */
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.card-texture-bg {
  background-image: url('/images/cardtexture3.png');
  background-size: 120%;
  background-position: center;
}

.card-texture-bg2 {
  background-image: url('/images/cardtextur2.png');
  background-size: 120%;
  background-position: center;
}

.card-texture-bg3 {
  background-image: url('/images/cardtexture.png');
  background-size: 120%;
  background-position: center;
}
.custom-ring-color {
  --tw-ring-color: var(--primary-color);
  outline: none;
  background-color: white;
 
}

.custom-ring-color:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--tw-ring-color); /* this mimics `focus:ring-2` */
}

.LocumTag{
  background-color: var(--secondary-100);
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  border: solid 1px var(--primary-color);
  border-radius: 50px;
  font-weight: 600;
  text-align: center;
  
  transition: background-color 0.3s ease;
}

.bg-hero-locum {
  background-image: url('/images/locum-bg.png'); /* adjust path based on your public folder */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-placeholder::placeholder {
  color: var(--primary-400); /* This assumes --primary-400 is defined globally */
}
.clip-diagonal {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

.clip-diagonal-right {
  clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}

@media (max-width: 1023px) {
  .clip-diagonal-right {
    clip-path: none;
  }
}